body {
    font-family: 'Rock Salt', cursive;
    font-size: 0.4em;
}
main{
    display: flex;
    justify-content: center;
}
section {
    background-color:rgb(214, 182, 176) ;
    width: 20%;
    padding: 1em;

}
.box{
    border:1px solid rgb(214, 182, 176) ;
    height:50px;
    width:50px;
    margin :0;
    padding: 0;
    font-size: 0%;
    background-color: antiquewhite;
}
.row1, .row2, .row3{
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;

}

.player1{
    background-image: url('images/player1.png');
    background-size: 100%;
    
}
.player2{
    background-image: url('images/player2.png');
    background-size: 100%;
}
#player1,#player2{
    display: block;
}
.result, .button{
    padding: 0 0.4em;
    font-family: 'Rock Salt', cursive;
    margin: 0 1em;
    height:80%;
    vertical-align: center;
}
.button{
    /* border:1px solid  rgb(214, 182, 176) ; */
    background-color: antiquewhite;
    border-radius: 0.4em;
    width: 20%;
    margin:0 auto;
}

.gameboard-section{
    width: 50%;
}
img {
    height:100%;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.currentplayer{
    text-align: center;
}
.header-img{
    display: inline-block;
    width: 60%;  
}
header{
    text-align: center;
}
footer{
    padding: 3%;
    position: relative;
    font-size: 90%;
   
}
.logo{
    height: 25px;
    width:25px;
    
}
.small-logo{
    height:12px;
    width:12px;
}

.gameinfo{
    height:40px;
    margin-top:10px;
    vertical-align: center;
    text-align: center;
}
.hidden{
    display: none;
}
