body {
    font-family: 'Rock Salt', cursive;
    font-size: 0.38em;
}
main{
    width: 90%;
    display: flex;
    justify-content: center;
    margin:0 auto;
    padding: 5% 0;

}
section {
    background-color:rgb(214, 182, 176) ;
    width: 15%;
    padding: 0 1.5%;;

}
.player1-section{
    text-align: right;
}
.player2-section{
    text-align: left;

}
.box{
    border:1px solid rgb(214, 182, 176) ;
    height:50px;
    width:50px;
    margin :0;
    padding: 0;
    font-size: 0%;
    background-color: antiquewhite;
    background-repeat: no-repeat;
}
.row1, .row2, .row3{
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;

}

.player1{
    background-image: url('images/player1.png');
    background-size: 100%;
    
}
.player2{
    background-image: url('images/player2.png');
    background-size: 100%;
}
#player1,#player2{
    display: block;
}
.result, .button{
    font-family: 'Rock Salt', cursive;
    vertical-align: center;
    margin: 0;
}
.button{
    /* border:1px solid  rgb(214, 182, 176) ; */
    background-color: antiquewhite;
    border-radius: 0.4em;
    width: 30%;
    margin:0 auto;
    padding :0 0.5em;
    text-align: center;
}

.gameboard-section{
    width: 50%;
}
img {
    height:100%;
    width:100%;
}

.currentplayer{
    margin: auto;
}
.header-img{
    display: inline-block;
    width: 60%;  
}
header{
    text-align: center;
}
footer{
    padding: 5%;
    margin-left: 5%;
    text-align: center;
}

footer img{
    height:2em;
    width:2em;
}

.logo{
    height: 25px;
    width:25px;
    
}
.small-logo{
    height:12px;
    width:12px;
}

.gameinfo{
    display: flex;
    margin: 0;
    height:40px;
    
    /* border: 1px solid black; */
    justify-content: center;
    font-size:0.6em;
}
.hidden{
    display: none;
}
.grab {
    cursor: -webkit-grab; 
    cursor: -moz-grab;
    cursor: grab;
}
.grab:active {
    cursor: -webkit-grabbing; 
    cursor: -moz-grabbing;
    cursor: grabbing;
}
.options{
    display: flex;
    width: 60%;
    margin: 0 auto;

}
.options p:hover{
    background-color:rgb(214, 182, 176) ;
}
.highest-score{
    display: inline-block;
    /* background-color: rgba(236, 232, 226, 0.6); */
    margin: 0;
    padding: 0;
    text-align: right;
    position: relative;
    right: -10%;
    bottom: 0%;
}

@media(min-width:400px){
    main{
        width:90%;
        font-size:1.5em;
        background-image: url('images/BGpic.jpg')  
    }
    footer{
        font-size:1.3em;
    }
}  
@media(min-width:576px){
    .player1-section,.player2-section{
        width:12%;
    }
    .box{
        height:70px;
        width:70px;
    }
    .gameinfo{
        height:60px;
        font-size:1.2em;
    }
    .small-logo{
        height:20px;
        width:20px;
    }
    .gameboard-section{
        width: 45%;
    }
    footer{
        display: flex;
        justify-content: space-between;
        font-size:1.8em;
    }
    footer div{
        padding-right:10%;
    }
    .options{
        justify-content: center;
        width:40%;
    }
    .options p{
        margin:auto;
        padding:2%;
    }
}

@media(min-width:768px) {
    main{
        font-size:1.7em;
    }   
    .player1-section,.player2-section{
        width:8%;
    }
    .box{
        height:90px;
        width:90px;
    }
    header{
        width:80%;
        padding: 2%;
        margin: 0 auto;
    }
    .gameinfo{
        height:80px;
        font-size:1.4em;
    }
    .small-logo{
        height:30px;
        width:30px;
    }

    .gameboard-section{
        width: 40%;
    }
    footer{
        font-size: 1.8em;
    }
}